.case-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0; 
    border-left-width: 4px;     
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px; 
    width: 250px; 
    flex-shrink: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.case-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 14px rgba(0,0,0,0.07);
}

.case-card h6 {
    margin: 0;
    font-size: 15px;
}

.case-card h2 {
    margin: 6px 0;
    font-size: 28px;
    font-weight: 700;
}

.case-card p {
    margin: 0;
    font-size: 13px;
    color: #777;
}

.case-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.border-purple { border-color: #b150e2 !important; }
.border-green  { border-color: #41c88a !important; }
.border-blue   { border-color: #4c9ef7 !important; }
.border-red    { border-color: #f17a7a !important; }

.border-purple p {
    color: #6f42c1; 
}

.border-green p {
    color: #28a745; 
}


.border-blue p {
    color: #007bff; 
}

.border-red p {
    color: #dc3545;
}


.icon-purple { background: rgba(177, 80, 226, 0.25); color: #a134d6; }
.icon-green  { background: rgba(65, 200, 138, 0.25); color: #2ca66f; }
.icon-blue   { background: rgba(76, 158, 247, 0.25); color: #1b73e8; }
.icon-red    { background: rgba(241, 122, 122, 0.25); color: #d9534f; }
